body {
	cursor: crosshair;
	margin: 0;
	height: 100vh;
}

/* Main Style */
.main {
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
}

/* Name Title Style */
.main h1 {
	font-size: 4em;
	font-family: 'Open Sans', sans-serif;
	animation: animate 1s linear;
}

/* Main Nav About, Portfolio, Contact */
.nav h3 {
	display: inline;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	animation: animate 3s linear;
}

/* Main Nav Hover Effect */
.nav h3 a:hover {
	color: lightseagreen;
}

/* Main Nav Padding from Portfolio Btn */
.centerNav {
	padding-left: 15px;
	padding-right: 15px;
}

/* Sub Nav for Portfolio */
.portfolioBtns button {
	text-align: center;
	margin-top: 20px;
	animation: animate 2s linear
}

/* About & Contacts Style (title & label) */
label, h2, h3 {
	font-family: 'Poiret One', cursive;
	animation: animate 2s linear
}

/* Paragraph Content Style (About & Portfolio) */
p {
	font-family: 'Poiret One', cursive;
	font-size: large;
	font-weight: 500;
	animation: animate 2s linear
}

/* Contact Submit Btn */
#submitBtn {
	float: right;
	font-family: 'Poiret One', cursive;
}

/* Contact Socials Btn */
.myDetails {
	margin-top: 100px;
    text-align: center;
}

/* Cursor Trail */
.trail { 
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: black;
}

/* Fade in Animation */
@keyframes animate
{
	0%
	{
		opacity: 0;
	}
	10%
	{
		opacity: 0;
	}
}

